<!DOCTYPE html>
<html>
<head>
    <title>CitiStarter webpage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron text-center">

    <!-- alert functions to notify user -->
    {% if alert_user == "review_success" %}
        <div class="alert alert-success">
            <strong>Review Success!</strong> You can see your review below now.
        </div>
    {% elif alert_user == "review_fail" %}
        <div class="alert alert-warning">
            <strong>Reviewed Failed!</strong> You have already reviewed this company.
        </div>
    {% endif %}

    <h1>CitiStarter Review Webpage</h1>
    <p>View company reviews or submit your reviews!</p>
</div>

<div class="container">

    <!-- display loggedin user information -->
    {% if loggedin == true %}
        <div class="row justify-content-md-center">
            <div class="col text-center">
                <p>Welcome <span><strong>{{ username }}</strong></span></p>
            </div>
            <div class="col text-center">
                <p><a href="{{ url_for('search') }}">SEARCH</a></p>
            </div>
            <div class="col text-center">
                <p><a href="{{ url_for('logout') }}">Logout</a></p>
            </div>
        </div>
    {% endif %}

    <!-- form content -->
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card bg-light">
                <article class="card-body mx-auto" style="width: 80%;">

                    <!-- display company information -->
                    <div class="card-header mb-5">
                        <h2 class="card-title mt-3 text-center" >{{ company.name }}</h2>
                        <h5 class="text-center">Year Founded: {{ company.year_founded }}</h5>
                        <h5 class="text-center">Industry: {{ company.industry }}</h5>
                        <h5 class="text-center">State: {{ company.state }}</h5>
                        <h5 class="text-center">City: {{ company.city }}</h5>
                        <h5 class="text-center">Area: {{ company.area }}</h5>
                        <h5 class="text-center">Revenue: {{ company.revenue }}</h5>
                        <h5 class="text-center">Expenses: {{ company.expenses }}</h5>
                        <h5 class="text-center">Profit: {{ company.profit }}</h5>
                        <h5 class="text-center">Growth: {{ company.growth }}</h5>
                        <p class="text-center">{{ company.description }}</p>

                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
</body>
</html>